4rd_year_program/parallel-programming/Lab8/test.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="candies">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Candy" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:float" name="energy"/>
                            <xs:element name="types">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="type" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ingredients">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="ingredient" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="value">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:byte" name="protein"/>
                                        <xs:element type="xs:float" name="fat"/>
                                        <xs:element type="xs:float" name="carbs"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="production"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>